
header {
	width: 160em;
	text-align: center;
	position: fixed;
	z-index: 1;
	background: green;
	left: 0;
	margin: auto;
	right: 0;
}

h1 {
	font-size: 3em;
}

.columnContainer {
	width: 160em;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 20em;
	position: absolute;
}

.sideColumn {
	float: left;
	width: 40em;
	z-index: 2;
	height:50em;
	background: #00ff90;
	position: relative;
}

.centerColumn {
	float: left;
	width: 80em;
	height: 50em;
	background: #00ffff;
}

.photoContainer, img {
	width: 160em;
}
