<!DOCTYPE html>
<html lang="sv">
<head>
	<meta charset="utf-8">
	<title>Enhets Oberoende</title>
	<link href="../Styles/UnitDependent.css" rel="stylesheet" />
</head>
<body>
	<div class="columns">
		Lorem Ipsum är en utfyllnads-text från tryck- och förlags-industrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok. Lorem ipsum har inte bara överlevt fem århundraden, utan även övergången till elektronisk typografi utan större förändringar. Det blev allmänt känt på 1960-talet i samband med lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, och senare med mjukvaror som Aldus PageMaker.
	</div>
</body>
</html>